.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around ;
    gap: 60px;  
    margin: 50px;
    
}

.cart-container{
    background: rgba(255, 153, 0, 0.3);
    height: 944px;
    padding: 20px;
    padding-top: 30px;
    position: sticky;
    top: 0;
}
